In [5]:
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\91863\Downloads\train.csv")

In [7]:
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [9]:
data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [10]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
130020,130020,0.50,Premium,F,SI2,60.7,62.0,5.12,5.06,3.10,1020
72726,72726,0.31,Good,E,SI1,63.8,55.0,4.29,4.31,2.74,698
135401,135401,0.30,Good,G,VS2,63.4,55.0,4.27,4.29,2.71,491
164327,164327,0.61,Very Good,H,VS1,61.0,57.0,5.48,5.51,3.33,1772
109414,109414,0.31,Premium,F,VVS2,60.9,58.0,4.35,4.37,2.65,761
14176,14176,1.07,Ideal,E,SI2,60.9,57.0,6.61,6.58,4.02,4916
162707,162707,0.41,Premium,D,VS2,61.4,58.0,4.79,4.76,2.94,1071
162498,162498,1.04,Premium,D,VS2,61.8,57.0,6.52,6.46,4.02,7954
148005,148005,0.52,Ideal,I,SI1,62.0,55.0,5.13,5.17,3.18,1168
73002,73002,1.51,Ideal,H,VS2,61.3,57.0,7.36,7.40,4.52,11574

In [11]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [17]:
data.shape

(193573, 11)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [19]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [21]:
data.drop(labels=["id"],axis=1,inplace=True)

In [22]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [23]:
data.duplicated() # to checck duplicate rows in dataframe

0         False
1         False
2         False
3         False
4         False
          ...
193568    False
193569    False
193570    False
193571    False
193572    False
Length: 193573, dtype: bool

In [25]:
data.duplicated().sum()

0

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [27]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [28]:
data.dtypes=="object"

carat      False
cut         True
color       True
clarity     True
depth      False
table      False
x          False
y          False
z          False
price      False
dtype: bool

In [29]:
data.columns[data.dtypes=="object"]

Index(['cut', 'color', 'clarity'], dtype='object')

In [30]:
cat_columns = data.columns[data.dtypes=="object"]

In [31]:
data.columns[data.dtypes!="object"]

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [32]:
num_columns = data.columns[data.dtypes!="object"]

In [34]:
data[num_columns]

        carat  depth  table     x     y     z  price
0        1.52   62.2   58.0  7.27  7.33  4.55  13619
1        2.03   62.0   58.0  8.06  8.12  5.05  13387
2        0.70   61.2   57.0  5.69  5.73  3.50   2772
3        0.32   61.6   56.0  4.38  4.41  2.71    666
4        1.70   62.6   59.0  7.65  7.61  4.77  14453
...       ...    ...    ...   ...   ...   ...    ...
193568   0.31   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34   62.9   55.0  4.45  4.49  2.81    681
193572   0.71   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 7 columns]

In [35]:
data[num_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB

In [37]:
data[cat_columns]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [39]:
data[cat_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB